@font-face {
  font-family: "Nekst-Regular";
  src: url("Nekst-Regular.eot");
  src: local("☺"), url("Nekst-Regular.woff") format("woff"),
    url("Nekst-Regular.ttf") format("truetype"),
    url("Nekst-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
